@page
@model CoffeeLover.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Product's page</h1>

<div>
<h1>@Model.Products.ProductName</h1>
<h4>Description</h4>
<p>@Model.Products.Description</p>
<img src="/Images/@Model.Products.ImageURL" height = 400 width = 450 align="right"/>
</div>

<div>
    <a class="btn btn-success">Add to Basket</a>
    <a class="btn btn-light"asp-page="/Home/OurProducts">Back to products</a>
</div>
