@page
@model CoffeeLover.Pages.Home.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

    <h1>Contact Us!</h1>
    <p>Do you have any queries? Well we want to hear them, here are our contact details so you can get in touch
    with us, and make you experience better!</p>
    <img src="~/WebImages/ContactUs.png" align="right" width="500"; height="400"/> 
    <h3>Email</h3>
    <p>Coffee.Lovers@gmail.com</p>
    <h3>Phone number</h3>
    <p>1414960326</p>
