@page
@model CoffeeLover.Pages.Home.ContactUsModel
@{
    <h1>Contact Us!</h1>
    <p>Do you have any queries? Well we want to hear them, here are our contact details so you can get in touch
    with us, and make you experience better!</p>
    <h3>Email</h3>
    <p>Coffee.Lovers@gmail.com</p>
    <h3>Phone number</h3>
    <p>1414960326</p>
}
