@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CoffeeLovers!</h1>
    <p>Are you looking to have a cozy cofffee, locally? Located in High Wycombe, we can 
        provide a relaxing experience for all!.</p>
        <img src="https://cdn1.matadornetwork.com/blogs/1/2019/01/Woman-in-in-a-coffee-shop-looking-out-the-window-while-drinking-coffee-900x506.jpg" />
</div>
